In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')
df.head()

   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48
2       11351  11352   Hannah  2004      F    AK     46
3       11352  11353    Grace  2004      F    AK     44
4       11353  11354    Emily  2004      F    AK     41

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1016395 entries, 0 to 1016394
Data columns (total 7 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1016395 non-null  int64
 1   Id          1016395 non-null  int64
 2   Name        1016395 non-null  object
 3   Year        1016395 non-null  int64
 4   Gender      1016395 non-null  object
 5   State       1016395 non-null  object
 6   Count       1016395 non-null  int64
dtypes: int64(4), object(3)
memory usage: 54.3+ MB

## Delete the column 'Unnamed: 0' and 'Id'.

In [4]:
del df['Unnamed: 0']

In [6]:
del df['Id']

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1016395 entries, 0 to 1016394
Data columns (total 5 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   Name    1016395 non-null  object
 1   Year    1016395 non-null  int64
 2   Gender  1016395 non-null  object
 3   State   1016395 non-null  object
 4   Count   1016395 non-null  int64
dtypes: int64(2), object(3)
memory usage: 38.8+ MB

## Are there more male or female names in the dataset?

- value_counts(): 시리즈에서 고유 값의 빈도 계산

In [9]:
df['Gender'].value_counts()

Gender
F    558846
M    457549
Name: count, dtype: int64

## Group the dataset by name and assign to names.
> 데이터 집합을 이름으로 지정하고 이름에 할당

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1016395 entries, 0 to 1016394
Data columns (total 5 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   Name    1016395 non-null  object
 1   Year    1016395 non-null  int64
 2   Gender  1016395 non-null  object
 3   State   1016395 non-null  object
 4   Count   1016395 non-null  int64
dtypes: int64(2), object(3)
memory usage: 38.8+ MB

- value_counts()
- sort_values()

In [16]:
names = df.drop(columns=['Year'], axis=1)

names = names.groupby('Name').sum()

# names.sort_values(by=['Count'], ascending=False)
names['Count'].sort_values(ascending=False)

Name
Jacob         242874
Emma          214852
Michael       214405
Ethan         209277
Isabella      204798
               ...
Eniola             5
Atlantis           5
Marci              5
Simarpreet         5
Nita               5
Name: Count, Length: 17632, dtype: int64

## How many different names exist in the dataset?

In [21]:
df['Name'].nunique()

17632

In [25]:
# as we have already grouped by the name, all the names are unique already.

len(names)

17632

In [20]:
df['Name'].value_counts()

Name
Riley      1112
Avery      1080
Jordan     1073
Peyton     1064
Hayden     1049
           ...
Terryn        1
Yanna         1
Zemirah       1
Emmilyn       1
Coalton       1
Name: count, Length: 17632, dtype: int64

## What is the name with most occurrences?

In [26]:
names['Count'].idxmax()

'Jacob'

## How many different names have the least occurences?
> 가장 적게 발생하는 이름은 몇 개인가요?

In [28]:
names['Count'].idxmin()

'Aadarsh'

In [33]:
print(type(names))

<class 'pandas.core.frame.DataFrame'>

In [39]:
len(names[names['Count'] == names['Count'].min()])

2578

## What is the median name occurence?

In [40]:
names.loc[names['Count'] == names['Count'].median(), :]

           Gender             State  Count
Name
Aishani   FFFFFFF    CACACACACAILNJ     49
Alara    FFFFFFFF  CACACAFLNYNYNYTX     49
Alysse   FFFFFFFF  CACACAMINYTXTXTX     49
Ameir    MMMMMMMM  CAMIMIMIMIMINYOH     49
Anely    FFFFFFFF  CACACACACACACACA     49
...           ...               ...    ...
Sriram    MMMMMMM    CACACACACACATX     49
Trinton  MMMMMMMM  FLLAOKTXTXTXTXTX     49
Vita      FFFFFFF    CACACACACANYNY     49
Yoni     MMMMMMMM  CACACACACACAFLFL     49
Zuleima   FFFFFFF    AZCACACACACACA     49

[66 rows x 3 columns]

## What is the standard deviation of names?

In [41]:
names['Count'].std()

11006.069467891111

## Get a summary with the mean, min, max, std and quartiles.

In [42]:
names.describe()

               Count
count   17632.000000
mean     2008.932169
std     11006.069468
min         5.000000
25%        11.000000
50%        49.000000
75%       337.000000
max    242874.000000