In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|')
df.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [4]:
df = df.set_index(keys='user_id')
df.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

## Discover what is the mean age per occupation.

In [6]:
mean_age = df.groupby('occupation')['age'].mean()
mean_age

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

## Discover the Male ratio per occupation and sort it from the most to the least.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

In [19]:
male = df.loc[df['gender'] == 'M']
male = male.groupby('occupation')
male.head()

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
3         23      M         writer    32067
4         24      M     technician    43537
6         42      M      executive    98101
7         57      M  administrator    91344
...      ...    ...            ...      ...
520       62      M     healthcare    12603
628       13      M           none    94306
841       45      M         doctor    47401
898       23      M      homemaker    61755
910       28      M     healthcare    29301

[101 rows x 4 columns]

### the Male ratio per occupation 주의하기!

In [21]:
# 먼저 male만 덜어내기!

def gender_to_numeric(x):
    if x == 'M':
        return 1
    if x == 'F':
        return 0

df['gender_n'] = df['gender'].apply(gender_to_numeric)

occup_ratio = df.groupby('occupation')['gender_n'].sum() / df['occupation'].value_counts() * 100
occup_ratio.sort_values(ascending=False)

occupation
doctor           100.000000
engineer          97.014925
technician        96.296296
retired           92.857143
programmer        90.909091
executive         90.625000
scientist         90.322581
entertainment     88.888889
lawyer            83.333333
salesman          75.000000
educator          72.631579
student           69.387755
other             65.714286
marketing         61.538462
writer            57.777778
none              55.555556
administrator     54.430380
artist            53.571429
librarian         43.137255
healthcare        31.250000
homemaker         14.285714
dtype: float64

## For each occupation, calculate the minimum and maximum ages.

- agg(): aggregation의 줄임말로, 데이터를 요약하거나 집계하는 과정을 말한다.
- apply(function)과 헷갈리지 말기!

In [23]:
df.groupby('occupation')['age'].agg(['min', 'max'])

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

## For each combination of occupation and gender, calculate the mean age.

In [27]:
df.groupby(['occupation', 'gender'])['age'].mean(numeric_only=True)

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

- 숫자형 데이터에만 mean()을 적용
> mean(numberic_only=True)

In [28]:
df.groupby(['occupation', 'gender'])['age'].agg(['mean'])

                           mean
occupation    gender
administrator F       40.638889
              M       37.162791
artist        F       30.307692
              M       32.333333
doctor        M       43.571429
educator      F       39.115385
              M       43.101449
engineer      F       29.500000
              M       36.600000
entertainment F       31.000000
              M       29.000000
executive     F       44.000000
              M       38.172414
healthcare    F       39.818182
              M       45.400000
homemaker     F       34.166667
              M       23.000000
lawyer        F       39.500000
              M       36.200000
librarian     F       40.000000
              M       40.000000
marketing     F       37.200000
              M       37.875000
none          F       36.500000
              M       18.600000
other         F       35.472222
              M       34.028986
programmer    F       32.166667
              M       33.216667
retired       F       70.000000
              M       62.538462
salesman      F       27.000000
              M       38.555556
scientist     F       28.333333
              M       36.321429
student       F       20.750000
              M       22.669118
technician    F       38.000000
              M       32.961538
writer        F       37.631579
              M       35.346154

## For each occupation present the percentage of women and men.
> 각 직종별로 여성과 남성의 비율을 표시

In [30]:
df['gender_encoded'] = df['gender'].map({'M':1, 'F':0})

male_count = df[df['gender_encoded'] == 1].groupby('occupation')['gender_encoded'].sum()
female_count = df[df['gender_encoded'] == 0].groupby('occupation')['gender_encoded'].sum()

total_count = df.groupby('occupation').size()

male_ratio = (male_count / total_count) * 100
female_ratio = (female_count / total_count) * 100

result = pd.DataFrame({'occupation': male_ratio.index, 'male' : male_ratio.values, 'female' : female_ratio.values})
result

       occupation        male  female
0   administrator   54.430380     0.0
1          artist   53.571429     0.0
2          doctor  100.000000     NaN
3        educator   72.631579     0.0
4        engineer   97.014925     0.0
5   entertainment   88.888889     0.0
6       executive   90.625000     0.0
7      healthcare   31.250000     0.0
8       homemaker   14.285714     0.0
9          lawyer   83.333333     0.0
10      librarian   43.137255     0.0
11      marketing   61.538462     0.0
12           none   55.555556     0.0
13          other   65.714286     0.0
14     programmer   90.909091     0.0
15        retired   92.857143     0.0
16       salesman   75.000000     0.0
17      scientist   90.322581     0.0
18        student   69.387755     0.0
19     technician   96.296296     0.0
20         writer   57.777778     0.0

In [31]:
gender_ocup = df.groupby(['occupation', 'gender']).agg({'gender': 'count'})
gender_ocup

                      gender
occupation    gender
administrator F           36
              M           43
artist        F           13
              M           15
doctor        M            7
educator      F           26
              M           69
engineer      F            2
              M           65
entertainment F            2
              M           16
executive     F            3
              M           29
healthcare    F           11
              M            5
homemaker     F            6
              M            1
lawyer        F            2
              M           10
librarian     F           29
              M           22
marketing     F           10
              M           16
none          F            4
              M            5
other         F           36
              M           69
programmer    F            6
              M           60
retired       F            1
              M           13
salesman      F            3
              M            9
scientist     F            3
              M           28
student       F           60
              M          136
technician    F            1
              M           26
writer        F           19
              M           26

In [36]:
occup_count = df.groupby(['occupation']).agg('count')

occup_gender = gender_ocup.div(occup_count, level='occupation') * 100
occup_gender.loc[: , 'gender']

occupation     gender
administrator  F          45.569620
               M          54.430380
artist         F          46.428571
               M          53.571429
doctor         M         100.000000
educator       F          27.368421
               M          72.631579
engineer       F           2.985075
               M          97.014925
entertainment  F          11.111111
               M          88.888889
executive      F           9.375000
               M          90.625000
healthcare     F          68.750000
               M          31.250000
homemaker      F          85.714286
               M          14.285714
lawyer         F          16.666667
               M          83.333333
librarian      F          56.862745
               M          43.137255
marketing      F          38.461538
               M          61.538462
none           F          44.444444
               M          55.555556
other          F          34.285714
               M          65.714286
programmer     F           9.090909
               M          90.909091
retired        F           7.142857
               M          92.857143
salesman       F          25.000000
               M          75.000000
scientist      F           9.677419
               M          90.322581
student        F          30.612245
               M          69.387755
technician     F           3.703704
               M          96.296296
writer         F          42.222222
               M          57.777778
Name: gender, dtype: float64

- map() 함수 사용: 특정 값에 대해 1:1 매핑을 제공하여 데이터를 변환하는 데 적합
> df['gender_encoded'] = df['gender'].map({'M':1, 'F':0})

- get_dummies(): 범주형 함수를 자동으로 더미 변수 열로 반환. df.get_dummies(df, columns=['gender'])
- replace(): df['gender'].replace({'M':1, 'F':0})